<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <!-- ################ HEADER START ############### -->
    <header>
        <div class="custom-padding">
            <nav>
                <div class="logo">Logo</div>

                <ul class="menu-area">
                    <li><a href="/">Home</a></li>
                    <li><a href="/cards">Card</a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="#">Guide</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            </nav>
        </div>



        <!--- ignore the code below-->

        <div class="link-area">
            <a href="https://www.youtube.com/channel/UCki4IDK86E6_pDtptmsslow" target="_blank">Click for More</a>
        </div>
    </header>
    <!-- ################ HEADER END ############### -->
</th:block>
</body>
</html>
